[submodule "dependencies/jsoncpp"]
	path = dependencies/jsoncpp
	url = git@github.com:jeanpantoja/jsoncpp.git
[submodule "dependencies/jsonrpc-cpp"]
	path = dependencies/jsonrpc-cpp
	url = git@github.com:jeanpantoja/jsonrpc-cpp.git
