[submodule "dependencies/jsoncpp"]
	path = dependencies/jsoncpp
	url = git@github.com:jeanpantoja/jsoncpp.git
	ignore = untracked
[submodule "dependencies/jsonrpc-cpp"]
	path = dependencies/jsonrpc-cpp
	url = git@github.com:jeanpantoja/jsonrpc-cpp.git
	ignore = untracked
[submodule "dependencies/cgicc"]
	path = dependencies/cgicc
	url = git@github.com:jeanpantoja/cgicc.git
	ignore = untracked
